# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment files
*.local
*.env
*.venv

# Dependencies
/node_modules/

# Virtual environment (Python)
venv/
venv/*
env/
env/*

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Machine learning artifacts
*.pkl
*.joblib

# Ignore dataset files (if needed)
*.csv
*.tsv
*.jsonl

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
